.container{
   width: 100vw;
   min-height: 100vh;
   padding: 5rem 0;
   

}
.title{
   text-align: center;
   margin-bottom: 50px;
  
}
.list{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
gap: 30px;
}

@media (max-width:780px){

}