:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-dark: #17120D;
  /* --color-orange: #F39F5A; */
  --color-cream: #FBE4D6;
  --color-marrom: #64362A;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
